// 캘린더 배경색
// @for $i from 1 through length($calendar-colors) {
//   .cal-clr-#{$i} {
//     background-color: nth($calendar-colors, $i);
//   }
// }

@for $i from 1 through length($schedule-color-map) {
  $schedule-color: nth($schedule-color-map, $i);
  .cal-clr-#{$i} {
    background-color: map-get($schedule-color, entity);
  }
  // 일정/캘린더 텍스트색
  .txt-clr-#{$i} {
    color: map-get($schedule-color, text);
  }
  // 일정/캘린더 배경색
  // 일정/캘린더 컬러박스에 적용되는 알파 50%의 배경색은 /views/common.scss 참조
  .bg-clr-#{$i} {
    background-color: alpha-non-opaque(map-get($schedule-color, entity), 50%);
  }
  i.bg-clr-#{$i}, label.bg-clr-#{$i}, span.bg-clr-#{$i} {
    background-color: map-get($schedule-color, entity) !important;
  }

 // 일정/캘린더 테두리색
  .bd-clr-#{$i} {
    border-color: map-get($schedule-color, entity);
  }
}
