// 레이아웃
.mv-month {
  @extend %view;
  @include flex-vertical;
  text-align: left;
  font-size: 12px;

  // 종일일정
  .sch-list-item-link{
    .name{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 196px;
      display: inline-block;
      line-height: 1.2em;
    }
  }
  .all-sche {
    @extend %schedule;
    margin: 0 2px 2px;
    line-height: 16px;
    width: inherit;

    .sch-pad {
      padding: 0 6px;
      display: flex;
      & > span{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
   @for $i from 1 through length($schedule-color-map) {
    $schedule-color: nth($schedule-color-map, $i);
    &.pastdays{
      &.cal-clr-#{$i} {
        background-color: alpha-non-opaque(map-get($schedule-color, entity), 50%);
      }
      // (한컴)텍스트색
      &.txt-clr-#{$i} {
        color: alpha-non-opaque(map-get($schedule-color, text), 50%);
      }
      // (한컴) 배경색
      // 일정/캘린더 컬러박스에 적용되는 알파 50%의 배경색은 /views/common.scss 참조
      &.bg-clr-#{$i} {
        background-color: alpha-non-opaque(map-get($schedule-color, entity), 30%);
      }
     // (한컴) 테두리색
      &.bd-clr-#{$i} {
        border-color: alpha-non-opaque(map-get($schedule-color, entity), 20%);
      }
    }
  } //$schedule-color-map
  // 부분일정
}//.all-sch

@for $i from 1 through length($schedule-color-map) {
    $schedule-color: nth($schedule-color-map, $i);
    .sch-time.sch-clr {
      @extend %schedule;
      @extend %schedule-row;
      margin: 0 2px 2px;
      background-color: transparent !important; //(한컴)추가
      border-color: transparent !important; //(한컴)추가
      .sch-pad {
        padding: 0 7px 0 5px;
        display: flex;
      }
      &.bg-clr-#{$i}{
        background-color: transparent;
        .sch-def {
         &::before{
            content: "";
            border-radius: 50%;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 0px;
            background-color: map-get($schedule-color, entity);
         }
         & .sch-when{
            margin-left: -1px;
         }
        }
        &.pastdays{
          .sch-def {
            background-color: transparent !important;
            &::before {
              background-color:  alpha-non-opaque(map-get($schedule-color, entity), 50%);
            }
          }
        }
      }
      &.pastdays{
        color: alpha-non-opaque(map-get($schedule-color, text), 50%);
        .sch-def {
          &::before {
            background-color:  alpha-non-opaque($color-L5, 50%);
          }
        }
      }
      &.no-clr-setting .sch-def {
        &::before {
          content: "";
          background: $color-L5;
          border-radius: 50%;
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 5px;
        }
      } //.sch-def
    }
  }
    
}
.mv-month-head {
  @include table-unstyled;
}
.mv-month-body {
  @include flex-expand;
  @include flex-vertical;
}

// 일월화수목금토
.mv-month-head {
  background-color: #f7f7f7;
  border: 1px solid $color-L2;
  border-width: 1px 0;
  height: $view-head-height;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  font: {
    size: 12px;
    weight: bold;
  }
}
.mv-month-head-dayname {
  @include calendar-table-group;
  height: $view-head-height;
  margin-top: -1px;
  box-sizing: border-box;
}
.mv-month-head-dayname-item {
  border: 1px solid transparent;
  height: $view-head-height - 1px;
  padding-left: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: left;

  &.holiday {
    @extend %cell-holiday;
  }
}

// 달력의 반복되는 행 구간
@for $i from 1 through 10 {
  .mv-month-body-row:nth-child(#{$i}){
    z-index: #{$i} !important;
  }
}
.mv-month-body-row {
  background: $color-B1;
  min-height: 70px; // 이 높이 아래로 줄어들지 말 것 (daynumber: 27px) + (sch*1: 21px) + (rest: 21px) + (bottomBorder: 1px)
  //margin-top: -1px; (한컴)수정
  position: relative; // 일정 박스를 표시할 기준점. 이 하위 노드에는 relative/absolute를 쓰지 말 것
  @include flex-expand;
  &.current {
    z-index: 10 !important;
  }
}

// 셀 배경 + 테두리선
.mv-month-body-row-bg {
  @include overwrap;
  z-index: 0;

  .sch-view-line {
    @include calendar-table-group;
    height: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
}
.mv-month-body-row-bg-cell {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  height: 100%;
  padding: 0; // ***
  position: relative;
  &.holiday {
    @extend %cell-holiday;
  }
  &.week-selected {
    @extend %cell-week-selected;
  }
  &.weekend-selected {
    @extend %cell-week-selected;
  }
  &.date-selected {
    @extend %cell-week-selected;
  }
  // &.pastdays {
  //   @extend %cell-pastdays;
  // }
  & span{ //(한컴) 추가, IE에서만 필요한 태그
    display: none;
    text-indent: -500000px;
  }
  &.date-today {
    background-color: $color-B-b1 !important;
    position:relative;
    &::before{
    content:"\a0";
    position: absolute;
    display: inline-block;
    width: inherit;
    top: -1.5px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid $color-L-b1 !important;
    overflow:hidden;
    }
    & span{ //(한컴) 추가, IE에서만 필요한 태그
      display: none;
      text-indent: -500000px;
    }
  }
}

//(한컴)IE10~11대응용 스타일
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mv-month-body-row-bg{
    bottom: 0px;
  }
  .mv-month-body-row-bg-cell{
    position:static;
  }
  .mv-month-body-row-bg-cell.date-today {
    position: relative;
    display: table-cell;
    height: 100%;
    span{
      background-color: $color-B-b1 !important;
      display: inline-block;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      position: static;
      width: 100%;
      height: 100%;
    }
  }
}
// 날짜, 일정
.mv-month-body-row-data {
  @include overwrap;
  overflow: visible; // 안전장치 (한컴)수정
  z-index: 2;

  .sch-grid {
    @include calendar-table-group;

    & > tbody {
      &::after {
        content: "";
        display: table-row;
        height: 100%;
      }
    }
    tr {
      &.is-hidden {
        visibility: hidden; // JS 토글러 모듈을 위해 `display: none;`을 쓰지 말 것
        position: absolute;
        left: -1000px;
        top: -1000px;
      }
    }
  }
}
%mv-month-body-row-data-cell {
  background: $color-none !important;
  border: 1px solid $color-none !important;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  z-index: 1; //(한컴)추가
  position: relative; //(한컴)추가
}

// 날짜 셀
.mv-month-body-row-data-day {
  td {
    @extend %mv-month-body-row-data-cell;
    height: 27px;

    .day-number {
      color: inherit;
      float: left;
      height: 12px;
      margin: 9px 0 0 10px;
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
      @include clickable;
      -webkit-touch-callout: none; /* iOS Safari */ //(한컴)추가
      -webkit-user-select: none; /* Safari */ //(한컴)추가
      -khtml-user-select: none; /* Konqueror HTML */ //(한컴)추가
      -moz-user-select: none; /* Firefox */ //(한컴)추가
      -ms-user-select: none; /* Internet Explorer/Edge */ //(한컴)추가
      user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */ //(한컴)추가
      &:hover{
        text-decoration: underline; //(한컴)추가
      }
    }

    &.holiday {
      @extend %cell-holiday;
    }
    &.week-selected {
      @extend %cell-week-selected;
    }
    &.weekend-selected {
      @extend %cell-weekend-selected;
    }
    &.pastdays {
      //@extend %cell-pastdays;
    }
    &.offrange {
      .day-number {
        opacity: .4;
      }
    }
    &.date-today { //(한컴)추가/수정 
      @extend %cell-date-today;
      background-color: $color-none;
      border-color: $color-none;
    }
  }
}

// 데이터 테이블 >> 일정 행
.mv-month-body-row-data-sch {
  td {
    @extend %mv-month-body-row-data-cell;
  }
}

// 데이터 테이블 >> 일정 행
// 숨겨진 일정 카운터 (+n)
.mv-month-body-row-data-rest {
  display: table;
  width: 100%;
  @include absolute(bottom 7px);
  z-index: 1; //(한컴)추가
  td {
    width: (100% / 7);
  }
  
  // 스크린이 너무 작아질 경우 모든 카운터를 감춤
  //.mv-month.hide-rest-counts & {
  //  display: none;
  //}
}
.mv-month-body-row-data-rest-count {
  color: $color-T-b2;
  float: right;
  margin-right: 8px;
  line-height: 14px;
  text-decoration: none;
  @include clickable;
}