aside.modal.modal-simple.modal-schedule-delete-related(role="dialog")
  .modal-inner(role="presentation")
    header.modal-head
      h2.modal-head-title 알림
      a.modal-closer.js-modal-closer(role="button", href="javascript:;")
        +icon("close")
        span.nonvisual 닫기
    .modal-body
      .modal-content
        fieldset.modal-fieldset
          p.modal-fieldset-notice 반복 일정을 삭제하시겠습니까?
          .modal-fieldset-row
            +radio("이 일정만 삭제")(name="deleteRelatedOption", id="deleteRelatedOption1", checked)
          .modal-fieldset-row
            +radio("이 일정부터 이후 일정 모두 삭제")(name="deleteRelatedOption", id="deleteRelatedOption2")

      .modal-actions
        .modal-actions-group
          a.modal-actions-item(role="button", href="javascript:;") 확인
          a.modal-actions-item.js-modal-closer(role="button", href="javascript:;") 취소