.modal-schedule-edit {
  //width: 600px;
  width: 615px;
  height: auto;
  margin: 0;
  top: auto;
  left: auto;

  .modal-fieldset-row-label {
    width: 60px;
    letter-spacing: -1px;
  }
  .modal-fieldset-row {
    // 일시
    &.date {
      .textfield {
        width: 77px;
      }
      .timepicker {
        margin-left: 6px;
      }
      .joiner {
        background: $color-L5;
        width: 8px;
        height: 1px;
        margin: 0 6px;
      }
    }
    // 반복
    &.repeat {
      .checkbox {
        margin-right: 0;

        & + .checkbox {
          margin-left: 30px;
        }
      }
      .js-modal-schedule-edit-inr-opener {
        min-width: 50px;
        max-width: 50px;
        margin: 0 0 0 8px;
      }
      &:not(.is-repeating) {
        .js-modal-schedule-edit-inr-opener,
        .schedule-inr {
          display: none;
        }
      }
    }
    // 장소
    &.location {
      .textfield {
        @include flex-expand;
      }
      .addin {
        width: 30px;
        height: 20px;
        margin-left: 4px;
      }
    }
    // 파일 첨부
    &.attachment {
      .add-file {
        .modal-fieldset-row-field{
          div{
           display: none;
          }
        }
        &.is-active{
          @extend .added-file;
        }
      }
      .added-file{
        .modal-fieldset-row-field{
          margin-left: -3px;
          margin-right: -3px;
          div{
            background-color: transparent;
            padding: 0px 3px 2px 26px;
            margin-top: 3px;
            display: inline-block;
            border: 1px solid #dcdcdc;
            white-space: nowrap;
            border-radius: 2px;
            max-width: 350px;
            vertical-align: middle;
            line-height: 1.6em;
            cursor: pointer;
            position: relative;
            margin-right: 3px;
            margin-left: 3px;
            span{
              display: inline-block;
              width: 16px;
              height: 16px;
              left: 6px;
              top: 5px;
              position: absolute;
            }
            em{
              display: inline-block;
              height: 17px;
              position: relative;
              max-width: 322px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              top: 2px;
            }
            a{
              width: 16px;
              height: 16px;
              display: inline-block;
              margin-top: 4px;
              border: 0px;
              position: relative;
              top: -2px;
              background: transparent !important;
              &:hover{
                i{
                  @extend .icon-attachedfile-delete-hover;
                }
              }
              &:focus{
                i{
                  @extend .icon-attachedfile-delete-active;
                }
              }
            }
            &:hover{
              border-color: #91a6dd;
              background-color: #eaeffb;
            }
          }
        }
      }
      &.has-attachment {
        .add-file {
          display: none;
        }
        .added-file {
          display: block;
        }
      }
    }
  }
  // 검색어 제안 영역
  .modal-fieldset-row-sugg {
    display: none;
    background: $color-B1;
    width: 100%;
    max-width: 100%;
    margin-top: 1px;
    @include absolute(left top 100%);
    z-index: 3000; // select2: 2000

    &.is-active {
      display: block;
    }

    .list {
      border-radius: $ui-box-radius;
      @include scrollable(null, 100px);
    }
  }
  // 일정색상 피커 영역
  .palette {
    margin-top: 3px; 
  }
}

// 구글 맵 영역
.modal-fieldset-row-map {
  display: none;
  margin-top: 8px;
  @include aspect-ratio(16, 9);

  &.is-active {
    display: block;
  }
}
// 아이콘 state에 따라 스타일 변경
.js-location-map-show {
  &:hover {
    .icon-map-pointer {
      @extend .icon-map-pointer-hover;
    }
    .icon-close {
      @extend .icon-close-hover;
    }
  }
  &:active {
    .icon-map-pointer {
      @extend .icon-map-pointer-active;
    }
    .icon-close {
      @extend .icon-close-active;
    }
  }
}