$modal-gutter                   : 12px;
$modal-min-width                : 300px;
$modal-bg-color                 : $color-B1;
$modal-bg-color-complex         : $color-B2;
$modal-bd-color                 : $color-L-b3;
$modal-text-color               : $color-T1;

$modal-head-bd-color            : $color-L-b0;
$modal-head-bg-color            : $color-B-b0;
$modal-head-height              : 28px;

$modal-fieldset-bg-color        : $color-B1;
$modal-fieldset-bd-color        : $color-L3;
$modal-fieldset-padding         : 16px;
$modal-fieldset-label-color     : #3554a3;

$modal-button-bg-color          : $color-B1;
$modal-button-bg-color-hover    : $color-B-b1;
$modal-button-bg-color-active   : $color-B-b2;

$modal-button-bd-color          : $color-L5;
$modal-button-bd-color-hover    : $color-L-b1;
$modal-button-bd-color-active   : $color-L-b2;
$modal-button-bd-color-focus    : $color-L-b4;

$modal-button-text-color        : $button-text-color;